<!DOCTYPE html>
{%extends  'firstapp/base.html'%}
{%block body_block%}
<h1>TO UPDATE EMPLOYEE RECORD</h1>
<form method="post">
  {%csrf_token%}
  Employee Number:<input type="text" name="eno" value="{{emp.eno}}"><p></p>
  Employee Name:<input type="text" name="eno" value="{{emp.ename}}"><p></p>
  Employee Salary:<input type="text" name="eno" value="{{emp.esal}}"><p></p>
  Employee Address:<input type="text" name="eno" value="{{emp.eaddr}}"><p></p>
  <input type="submit" class="btn btn-warning btn-lg"  value="UPDATE RECORD">
</form>

{%endblock%}
